@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {

}

span {
	color: #c0071e;
	font-weight: bold;
}
.eslrTitle {
	color: #c0071e;
	font-weight: bold;
	font-family: "Comic Sans MS";
}
li {
	color: #0000CD;
}