@charset "UTF-8";
/* Sample CSS Document */

#eagleLogo {
float: right; border-bottom-style:solid; border-bottom-color:black; border-left: solid; border-left-color:black;  border-right-style: solid; border-right-color:black; border-top-style: solid; border-top-color:black;
}

h1 {
color: blue;
}
h2 {
    color: white; background-color: steelblue;
}
span {
    color: crimson;
}
p {
    color: navy;
}
#eslrMenu {
    color: crimson;
}
#topMenu {
    color: blue;
}
#eagleBottom {
    border-bottom-style:solid; border-bottom-color:black; border-left: solid; border-left-color:black;  border-right-style: solid; border-right-color:black; border-top-style: solid; border-top-color:black;
}